.stock{
    border-top: 1px solid rgba(14, 14, 14, 0.692);
    width: 60%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 2px 10px 5px 5px rgba(255, 255, 255, 0.692);
}

.stock__text {
   
    display: none; /* Cacher le contenu par défaut */
    border-top: 1px solid rgba(14, 14, 14, 0.692);
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 2px 10px 5px 5px rgba(255, 255, 255, 0.692);
    transition: opacity 0.5s ease; /* Transition sur l'opacité */
    opacity: 0; /* Commence avec une opacité de 0 */
}

.stock img {
    width: 100%;
    border: 2px solid black;
}

.stock:hover .stock__text {
    display: block; /* Afficher le contenu au survol */
    
    opacity: 1; /* Augmenter l'opacité au survol */
}